body{
    background: #1A1E23;
    /* overflow: hidden; */
    height: 100vh;
  }
  
  *{
      padding: 0;
      margin: 0;
      font-family: sans-serif, Arial, Helvetica;
  }
  
  nav{
      position: sticky;
      overflow: hidden;
      top: 3vh;
      padding: 5px  0 5px 0;
  }

   
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  
  .sticky + .content {
    padding-top: 60px;
  }
  
  #logo{
      height: 100px;
      width: 50px;
      margin-right:80vh;
    
  }
  
  li{
      list-style: none;
      color: #ffffff;
      font-size: 21px;
      text-decoration: none;
  }
  
  #navbar{
      display: flex;
      justify-content: center;
      column-gap: 8vh;
      align-items: center;
      border-radius: 1px;
      background: #1A1E23;
      box-shadow:  23px 23px 30px #0a0c0e,
               -23px -23px 30px #2a3038;
  }
  
  .navi{
      text-decoration: none;
      color: white;
      opacity: 0.80;
      display: inline-block;
      position: relative;
  }
  
  .navi:hover{
      opacity: 1;
  }
  
  .navi::after{
      content:"";
      position:absolute;
      width:100%;
      transform: scaleX(0);
      height: 2px;
      bottom:0;
      left:0;
      background-color:beige;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
  }
  
  .navi:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left;
  }
  
  #profiel{
    width: 55px;
  }
  
  #buttonprofile{
    width:50px;
  }
  
  .bx {
    font-size: 20px;
    height: 44px;
    width: 44px;
    display: grid;
    place-items: center;
    color: white;
    background: black;
    border-radius: 50%;
    cursor: pointer;
    border:solid white;
  }
  
  .bx:hover {
      filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.41));
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4)
  }
  
  .modal-content {
    margin: 15%;
    padding: 20px;
    display: flex;
    justify-content: center;
    /* position: fixed;                                                                              */
  }
  
  .login {
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    font-weight: bold;
    font-size: x-large;
  }
  
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    width: 300px;
    flex-direction: column;
    gap: 35px;
    background: #2a2b38;
    border-radius: 8px;
    padding-right:10px;
  }
  
  .inputBox {
    position: relative;
    width: 250px;
  }
  
  .inputBox input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    color: white;
    font-size: 1em;
    background: transparent;
    border-left: 2px solid #5e6681;
    border-bottom: 2px solid #5e6681;
    transition: 0.1s;
    border-bottom-left-radius: 8px;
  }
  
  .inputBox span {
    margin-top: 5px;
    position: absolute;
    left: 0;
    transform: translateY(-4px);
    margin-left: 10px;
    padding: 10px;
    pointer-events: none;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 3px;
    border-radius: 8px;
  }
  
  .inputBox input:valid~span,
  .inputBox input:focus~span {
    transform: translateX(113px) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: #000;
    letter-spacing: 0.2em;
    color: #fff;
    border: 2px;
  }
  
  .inputBox input:valid,
  .inputBox input:focus {
    border: 2px solid #000;
    border-radius: 8px;
  }
  
  .enter {
    height: 45px;
    width: 100px;
    border-radius: 5px;
    border: 2px solid #ffeba7;
    cursor: pointer;
    background-color: #ffeba7;
    color:#5e6681;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    margin-bottom: 1em;
    box-shadow: 0 8px 24px 0 rgb(255 235 167 / 20%);
    font-weight:bold;
  }
  
  .enter:hover {
    background-color:#5e6681;
    color: #ffeba7;
    box-shadow: 0 8px 24px 0 rgb(255 235 167 / 20%);
  }
  
  .close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover, .close:focus{
    cursor:pointer;
    color: black;
    text-decoration: none;
  }

  #ongeldig{
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    top: 30vh;
    z-index: -1;
  }

  #welkom{
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    top: 30vh;
  }

  
  #vragen{
    justify-content: center;
    display: flex;
  }

  main{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    justify-content: center;
    gap: 5px;
  }

  .janee{
    color: white;
    text-decoration: none;
    width: fit-content;
    place-self: center;
    padding: 5px;
    position: relative;
    left: 47vw;
    top: 70vh;
    z-index: -1;
    overflow: hidden;
}

  #vraag{
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    top: 70vh;
    z-index: -1;
  }

  footer {
    padding: 1vw 0;
    width: 100%;
    background-color: #01689b;
    box-shadow:  -23px -23px 30px #0a0c0e,
                  23px 23px 30px #2a3038;
    color: white;
    position: relative;
    top: 100vh;
    z-index: -1;
  }
  
  #footerContainer {
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  #leftFooter {
    font-size: 1.5vw;
    grid-column-start: 1;
  }
  
  #leftFooter p {
    font-family: rijksoverheidserif-italic;
  }
  
  #rightFooter .footerTitle {
    font-size: 1.25vw;
    font-weight: rijksoverheidsansheading-bold;
  }
  
  #rightFooter {
    grid-column-start: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  #rightFooter a {
    font-family: rijksoverheidserif-regular;
    margin: 1vw 0;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1vw;
  }
  
  #rightFooter a:hover {
    text-decoration: underline;
  }
  
  #rightFooter a::before {
    content: '> ';
    font-weight: bold;
  }
  
  #rightFooter a::before:hover {
    text-decoration: none;
  }
  
  @font-face {
    font-family: rijksoverheidserif-italic;
    src: url('fonts/rijksoverheidserif-italic.ttf');
  }
  
  @font-face {
    font-family: rijksoverheidsansheading-bold;
    src: url('fonts/rijksoverheidsansheading-bold.ttf');
  }
  
  @font-face {
    font-family: rijksoverheidserif-regular;
    src: url('fonts/rijksoverheidsanstext-regular.ttf');
  }

  #scrollBenee{
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  #imgAI{
    width: 30vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  div.drop-zone {
    position: relative;
    top: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    color: #009688;
    box-shadow:
      inset #1e5799 0 0 0 10px,    
      inset #48e4d6 0 0 0 17px;    
      width: 30vw;  
      z-index: -1;
  }

    .drop-zone {
      position: relative;
      left: 35vw;
      background: #1e5799;
      height: 10vw;
    }
  
  .drop-zone__prompt {
    font-size: 18px;
    color: white;
  }
  
  .drop-zone__input {
    display: none;
  }

  #klik{
    color: black;
    cursor: pointer;
    text-decoration: underline;
  }

@media only screen and (max-width: 760px) {
  body {
    height: 100%;
  }
  
  #logo{
    margin-right: 10%;
  }

  li{
    font-size: 16px;
  }
  
  #navbar {
    column-gap: 4%;
    padding: 5px 0 5px 0;
  }

  #profiel {
    width: 35px;
  }

  #buttonprofile {
    width: 40px;
  }

  .bx {
    font-size: 18px;
    height: 40px;
    width: 40px;
  }

  .modal-content {
    margin: 5%;
    padding: 20px;
    flex-direction: column;
    gap: 25px;
  }

  .card {
    min-height: 280px;
    width: 250px;
    gap: 25px;
  }
}