*{
    padding: 0;
    margin: 0;
    font-family: sans-serif, Arial, Helvetica;
}
header{
    display: flex;
    flex-direction: column;
    height: 16vh;
}
nav{
    background-color: #01689B;
    width: 100vw;
    height: 8vh;
    position: sticky;
    top: 8vh;
    padding: 25px  0 25px 0;
}

#logo{
    height: 100px;
    width: 50px;
}

#logosheet{
    justify-content: center;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

#rijks{
    font-size: 14px;
}

li{
    list-style: none;
    color: #ffffff;
    font-size: 22px;
    text-decoration: none;
}

#navigatie{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#home{
    display: flex;
    align-items: start;
    font-size: 22px;
    justify-content: center;
}

#navbar{
    display: flex;
    justify-content: center;
    column-gap: 8vh;
}

.navi{
    text-decoration: none;
    color: white;
}